---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { slugifyStr } from "@utils/slugify";

export const books = [
  {
    id: "nodejs-design-patterns",
    title:
      "Node.js Design Patterns: Design and implement production-grade Node.js applications using proven patterns and techniques",
    url: `/notes/books/nodejs-design-patterns`,
    bookCover: "https://m.media-amazon.com/images/I/71OMPF7vzmL._SY522_.jpg",
    authors: "Mario Casciaro, Luciano Mammino",
    description: "Reading in progress...",
  },
  {
    id: "the-normal-christian-life",
    title: "The Normal Christian Life",
    url: `/notes/books/the-normal-christian-life`,
    bookCover: "https://m.media-amazon.com/images/I/81SNyzqfcML._SY522_.jpg",
    authors: "Watchman Nee",
    description: `A book that captures and explains the finished works of Christ for humanity.
      Watchman Nee explains what the blood, death, burial, resurrection, glorification of Christ has wrought for us. 
      He further goes to teach how to live a victorious Christian life by first knowing what Christ did for us and resting on Him.`,
  },
  {
    id: "clean-architecture",
    title: "Clean Architecture: A Craftman's Guide to Software Structure and Design",
    url: "/notes/books/clean-architecture",
    bookCover: "https://m.media-amazon.com/images/I/61r4tYVsRVL._SY522_.jpg",
    authors: "Robert C. Martin",
    description: "Reading in progress...",
  },
  {
    id: "understanding-financial-prosperity",
    title: "Understanding Financial Prosperity",
    url: "/notes/books/understanding-financial-prosperity",
    bookCover: "https://m.media-amazon.com/images/I/31kBSPlsGlL.jpg",
    authors: "David O. Oyedepo",
    description: "Reading in progress...",
  },
  {
    id: "sit-walk-stand",
    title: "Sit, Walk, Stand",
    url: "/notes/books/sit-walk-stand",
    bookCover: "",
    authors: "Watchman Nee",
    description: "",
  },
];
---

<Layout title={`Book Notes | ${SITE.title}`}>
  <Header activeNav="notes" />
  <Main
    pageTitle="Book Notes"
    pageDesc="Notes taken on books I read: I take the notes chapter by chapter. While reading, I highlight important points in the book. After finishing a chapter, I revisit the highlighted texts and take comprehensive notes on them."
  >
    <ul class="mb-[5rem] flex flex-col gap-[2rem]">
      {
        books.map(book => (
          <li class="flex flex-col items-start gap-[1rem] border-skin-line sm:flex-row sm:gap-[1.2rem]">
            <a class="flex h-[266.538px] w-[216px] items-center justify-center bg-gray-200" href={book.url}>
              <img alt={book.title} src={book.bookCover} style="max-width: 216px; max-height: 266.538px;" />
            </a>
            <div class="flex flex-1 flex-col pb-[1rem] pt-[1rem]">
              <a
                href={book.url}
                class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
              >
                <h2
                  class="text-lg font-medium decoration-dashed hover:underline"
                  style={{ viewTransitionName: slugifyStr(book.title) }}
                >
                  {book.title}
                </h2>
              </a>
              <p class="mb-[0.5rem] text-sm italic">{book.authors}</p>
              <p>{book.description}</p>
            </div>
          </li>
        ))
      }
    </ul>
  </Main>

  <Footer noMarginTop={false} />
</Layout>
